target/
build/
node_modules/
.mvn/
.mvn/repository/
.gradle/
.android-sdk/

.idea/
.vscode/
.mono/

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
nohup.out
.env

# Playwright test result
test-results/
trace.zip
screenshots/
videos/
playwright-report/
allure-results/
coverage-report/
.cache/
.eslintcache

local-browsers/
firefox/
tmp/
blob-report/
